
:root {
    --borderClr: #e6e6e6 ;
}



.contentAccount {
    border: 1px solid var(--borderClr);
    height: 750px; /** Fix Height*/
    padding: 50px;
    box-shadow: 0px 8px 5px var(--borderClr);
    background-color: #ffffff;
    border-radius: 15px;
}

