

/* * Reportcss */

.contentReport {
    border: 1px solid;
    height: 800px;
    padding-top: 20px;
}

.rowReport {

    border: 1px solid;
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin: 0;
    min-width: 400px;
    gap: 10px;
}


/* @media screen and (min-width: 400px) {
    .colContent {
        margin-top: 5px;
    }
} */