

/* * Reportcss */

/* !(Warning): This is for ReportChartLg */

.rowContainerLg {
    /* border: 1px solid green; */
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: auto;
    gap: 5px;
    justify-content: space-evenly;
    min-width: 400px;
}

.colContainerLg {
    /* border: 1px solid; */
    padding: 0;
}