

/* * Reportcss */

.contentReport {
    border: 1px solid;
    height: 800px;
    padding-top: 20px;
}

.rowReport {

    /* border: 1px solid; */
    margin-top: 10px ;
    width: 100%;
    height: auto;
    justify-content: space-around;
    margin: 0;
    min-width: 400px;
    gap: 10px;
}

/* !(Warning): This is for ChartLg */

.rowContainerLg {
    border: 1px solid green;
    padding: 5px;
    margin: 10px 0px;
    width: 100%;
    height: auto;
    gap: 5px;
    justify-content: space-evenly;
    min-width: 400px;
    
}

.colContainerLg {
    /* border: 1px solid; */
    padding: 0;
}