
:root {
    --shadowColor: #EFF3F4 ;
}

.mainContainer {    
    background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(255, 255, 255) 90%);    
    height: 100vh;
}

.containerMode {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    min-width: 370px;
    
}

.containerContent {
    margin-top: 200px;
    box-shadow: 2px 8px 5px var(--shadowColor);
    border-radius: 20px;
    padding: 20px;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}