
.PosscannerMessage{
    // border: 1px solid;
    height: auto;
    display: flex;
    justify-content: center;

    div {
        font-size: 1rem;
    }

    @media (max-width: 500px) {
        height: auto;
        div {
            font-size: 0.9rem;
        }
    }
}

.Posscannermain {
    // border: 1px solid red;
    height: 80vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    button {
        font-size: 1.1rem;
    }

    div:first-child {
        // border: 1px solid;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 10px;
    }

    video {
        // border: 1px solid;
        width: 100%;
        max-width: fit-content;
        border-radius: 10px;
    }

}

@media (max-width: 500px) {
    .Posscannermain {
        height: 70vh;
        padding: 0;

    button {
        font-size: 0.9rem;
    }

    div:first-child {
        width: 100%;
        height: auto;
        gap: 10px;
    }

}
}


.MainComponent {
    // border: 1px solid red;
    background: radial-gradient(1300px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
    height: auto;
    margin: 0;
    padding: 0;

    .navBar {
        border: 1px solid;
        height: auto;

        h1 {
            font-size: 1.7rem;
            padding: 10px;

        }
    }

    .checkOutRow {
        border: 1px solid;

        h4 {
            font-size: 1.7rem;
            padding: 5px 0px;
        }
    }

    table {
        thead {
            border: 1px solid;

            tr th {
                width: 20px;
                text-align: center;
            }

            tr th:first-child {
                width: 500px;
            }
        }
    }

    button {
        margin: 20px;
    }
}