* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.transactionMainContainer {
    // border: 1px solid;
    margin-top: 10px;
    padding: 0px;

    h4 {
        font-size: 1.4rem;
        margin-left: 20px;
    }

    .containerFilter {
        // border: 1px solid;
        width: 100%;
        max-width: 700px;
        height: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }
}

.transactionchildContainer{
    // border: 1px solid;
    height: 500px;
    overflow: auto;
    padding: 10px;
    
    .ListGroupItem {
        // border: 1px solid;
        box-shadow: 1px 1px 4px rgb(240, 240, 240);
        display: flex;
        justify-content: space-between;
        margin: 2px;
        border-radius: 5px;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            p {
                font-size: 0.9rem;
            }
        }

        div:first-child {
            padding: 10px;
            h5 {
                font-size: 1.2rem;
            }
        }

        div:last-child {
            // border: 1px solid;
            height: 40px;
            width: auto;
            flex-direction: row;
            justify-content: center;
        }
    }
}


@media (max-width: 700px) {
    .transactionMainContainer {
        h4 {
            font-size: 1.2rem;
            margin-left: 0px;
        }
        
    }

    .transactionchildContainer {
        padding: 0px;

        .ListGroupItem {
            div:first-child {
                h5 {
                    font-size: 1.1rem;
                }
                p {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

@media (max-width: 400px) {

    .transactionMainContainer {
        h4 {
            font-size: 1.2rem;
        }

    }



    .transactionchildContainer {
        
        .ListGroupItem {
            align-items: baseline;
            flex-direction: column;

            div:last-child {
            margin-top: 5px;
        }
        }
    }
}