* {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.transactionMainContainer {
    border: 1px solid;
    margin-top: 10px;

    h4 {
        font-size: 1.5rem;
    }
}

.transactionchildContainer{
    border: 1px solid;
    height: 600px;
    overflow: auto;
}