


.contentReport {
    border: 1px solid;
    text-align: center;
    height: 120px;
    align-content: center;

    margin: 3px 0;
    width: 100%;
    min-width: 400px;
}

/**BigChart  */

.contentBigchart {
    border: 1px solid;
    height: 400px;
    margin-top: 10px;

    width: 100;
}