
:root {
    --shadowColor: #EFF3F4 ;
}

.containerMode {
    width: 100%;
    height: auto;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    min-width: 400px;
}

.containerContent {
    box-shadow: 2px 8px 5px var(--shadowColor);
    border-radius: 20px;
    padding: 20px;
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}