


.MainStaffButtons {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-shadow: 1px 3px 1px #e2dfdf;
    border-radius: 15px;
    width: 100%;
    max-width: 250px;
    justify-content: center;
    color: #3a3a3a;
    text-decoration: none;
    border-left: 1px solid #89d4ac;
    box-sizing: border-box;

    @media (max-width: 900px) {
        width: 230px;
        height: 150px;
        span {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 532px) {
        width: 200px;
        height: 120px;

        span {
            font-size: 0.8rem;
        }
    }
}


