




.colChart1 {
    width: 100%;
    height: 300px;
    max-width: 380px;
    min-width: 380px;

    border: 1px solid;

}

.colChart2 {
    width: 100%;
    height: 300px;

    max-width: 380px;
    min-width: 380px;

    border: 1px solid;
border-inline-start-width: ;
}

.colChart3 {
    width: 100%;
    height: 300px;

    max-width: 380px;
    min-width: 380px;

    border: 1px solid;

    margin-right: 10px;
}