




.colChart {
    width: 100%;
    height: 250px;
    max-width: 390px;
    min-width: 300px;

    border: 1px solid;

}

.bigCharts {
    border: 1px solid red;

    height: 400px;
    margin-top: 10;
}