




.colChart1 {
    width: 350px;
    height: 300px;

    border: 1px solid;
}

.colChart2 {
    width: 350px;
    height: 300px;

    border: 1px solid;
}

.colChart3 {
    width: 350px;
    height: 300px;

    border: 1px solid;
}