
:root {
    --chart1Color: #CDC3FF;
    --char3Color: #AAC9FF;
    --chart2Color: #92E3B8;
    --chartShadow: #d3d0d0;
    /*! Change This Color */
    --BgColor: #EFF3F4;
}

.containerChart1 {
    border: 1px solid;
    padding: px;
    width:  300px;
    h1 {
        font-size: 1.5rem;
    }

    button {
        border: 1px solid;
    }
}
