:root {
    --chart1Color: #CDC3FF;
    --char3Color: #AAC9FF;
    --chart2Color: #92E3B8;
    --chartShadow: #d3d0d0;
    /*! Change This Color */
    --BgColor: #EFF3F4;
}


.contentChart {
    // border: 1px solid;
    text-align: center;
    height: auto;
    align-content: center;
    border-radius: 10px;

    p {
        font-size: 1rem;
    }

    p:first-child {
        font-size: 1.7rem;
    }
    @media (max-width: 1200px) {
        p {
            font-size: 0.8rem;
        }

        p:first-child {
            font-size: 1.43rem;
        }
    }

    @media (max-width: 800px) {
        p {
            font-size: 0.9rem;
        }

        p:first-child {
            font-size: 1.5rem;
        }
    }

}

.containerText {
    // border: 1px solid;
    width: auto;
    display: flex;
    padding: 5px;
    gap: 5px;

    p {
        font-size: 1rem;
    }
}

/* Chart 1 */
.containerChart1 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 10px 15px;
    height: auto;
    width: 300px;
    background-color: var(--chart1Color);
    box-shadow: 1px 1px 3px var(--chartShadow);

    @media (max-width: 1400px) {
        width: 250px;
    }

    @media (max-width: 1200px) {
        width: 225px;
    }

    @media (max-width: 800px) {
        width: 100%;
        padding: 5px 10px;
        height: 130px;
    }
}

/* Chart 2 */
.containerChart2 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 10px 15px;
    height: auto;
    width: 300px;
    background-color: var(--chart2Color);
    box-shadow: 1px 1px 3px var(--chartShadow);

    @media (max-width: 1400px) {
        width: 250px;
    }

    @media (max-width: 1200px) {
        width: 225px;
    }

    @media (max-width: 800px) {
        width: 100%;
        padding: 5px 10px;
        height: 130px;
    }
}

/* Chart 3 */
.containerChart3 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 10px 15px;
    height: auto;
    width: 300px;
    background-color: var(--char3Color);
    box-shadow: 1px 1px 3px var(--chartShadow);

    @media (max-width: 1400px) {
        width: 250px;
    }

    @media (max-width: 1200px) {
        width: 225px;
    }

    @media (max-width: 800px) {
        width: 100%;
        padding: 5px 10px;
        height: 130px;
    }
}

/* Chart 4 */
.containerChart4 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 10px 15px;
    height: auto;
    width: 300px;
    background-color: var(--char3Color);
    box-shadow: 1px 1px 3px var(--chartShadow);

    @media (max-width: 1400px) {
        width: 250px;
    }

    @media (max-width: 1200px) {
        width: 225px;
    }

    @media (max-width: 800px) {
        width: 100%;
        padding: 5px 10px;
        height: 130px;
    }
}



/* Warning This is for ChartLg */
.containerChartLg1 {
    border: 1px solid red;
    width: 760px;
    height: 400px;
    /*! Change this in auto if chart-lg is coded*/
    /* box-shadow: 1px 1px 3px var(--chartShadow); */
    background-color: var(--BgColor);
    border-radius: 20px;

    @media (max-width: 1400px) {
        width: 600px;
        height: 350px;
    }

    @media (max-width: 1200px) {
        width: 100%;
        height: 300px;
    }

    @media (max-width: 800px) {
        width: 100%;
        height: 250px;
    }
}


.containerChartLg2 {
    border: 1px solid red; 
    width: 500px;
    height: 500px;
    /*! Change this in auto if chart-lg is coded*/
    /* box-shadow: 1px 1px 3px var(--chartShadow); */
    background-color: var(--BgColor);
    border-radius: 20px;

    @media (max-width: 1400px) {
        
    }

    @media (max-width: 1200px) {
        width: 100%;
        height: 400px;
    }

    @media (max-width: 800px) {
        
    }
}
