
:root {
    --chart1Color: #CDC3FF;
    --char3Color: #AAC9FF;
    --chart2Color: #92E3B8;
    --chartShadow: #d3d0d0;
    /*! Change This Color */
    --BgColor: #EFF3F4;
}

.containerChart1 {
    border: 1px solid;
    padding: 10px;
    width:  280px;
    height: 160px;
    border-radius: 10px;
    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 2rem;
        
    }

    button {
        border: 1px solid;
    }
}

.containerChart2 {
    border: 1px solid;
    padding: 10px;
    width:  280px;
    height: 160px;

    border-radius: 10px;
    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 2rem;
        
    }

    button {
        border: 1px solid;
    }
}

.containerChart3 {
    border: 1px solid;
    padding: 10px;
    width:  280px;
    border-radius: 10px;
        height: 160px;

    h1 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.5rem;
        
    }

    button {
        border: 1px solid;
    }
}