:root {
    --chart1Color: #CDC3FF;
    --char3Color: #AAC9FF;
    --chart2Color: #92E3B8;
    --chartShadow: #d3d0d0;
    /*! Change This Color */
    --BgColor: #EFF3F4;
}


.containerContent {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    max-height: 200px;
}

.contentChart {
    /* border: 1px solid; */
    text-align: center;
    height: auto;
    align-content: center;
    border-radius: 10px;
}

.containerText {
    /* border: 1px solid; */
    width: auto;
    display: flex;
    padding: 5px;
    gap: 5px;
}

/* ?Chart 1 */

.containerChart1 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    max-height: 200px;
    background-color: var(--chart1Color);
    box-shadow: 1px 1px 3px var(--chartShadow);
}

/* ?Chart 2 */
.containerChart2 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    max-height: 200px;
    background-color: var(--chart2Color);
    box-shadow: 1px 1px 3px var(--chartShadow);
}

/* ?Chart 3 */
.containerChart3 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    max-height: 200px;
    background-color: var(--char3Color);
    box-shadow: 1px 1px 3px var(--chartShadow);
}





/* !Warning This is for ChartLg */

.containerChartLg {
    /* border: 1px solid red; */
    width: 100%;
    height: 400px;
    /*! Change this in auto if chart-lg is coded*/
    box-shadow: 1px 1px 3px var(--chartShadow);
    background-color: var(--BgColor);
    border-radius: 10px;
}