

/* * Reportcss */

.reportMain {
    border: 1px solid red;
    height: auto;
    width: 100vw;
    padding: 10px;

    .reportTitle {
        border: 1px solid green;
        margin-bottom: 5px;
        h5 {
            padding: 20px 10px;
            font-size: 1.9rem;
            font-weight:500;
        }
    }

    .containerReportSmall {
        border: 1px solid;
        width: 100%;
        padding: 10px;
        display: flex;
        margin-bottom: 5px;
        justify-content: space-between;
    }

    .containerReportLarge {
        padding: 10px;
        border: 1px solid;
        display: flex;
        justify-content: space-between;
    }
}


@media (max-width: 700px) {
    .reportMain {
        padding: 0px;

    .reportTitle {
        
            h5 {
                padding: 15px 10px;
                font-size: 1.5rem;
            }
        }
    }

    .containerReportSmall {
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

}//! End 700px