

/* * Reportcss */

.reportMain {
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
    padding: 10px;

    .reportTitle {
        border: 1px solid green;
        margin-bottom: 5px;
        h5 {
            padding: 20px 10px;
            font-size: 2rem;
            font-weight:500;
        }
    }
}