

.AccountLayoutContainer {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    background: radial-gradient(1300px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
}

.accountContainer {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    padding: 10px;

    .SideBar {
        border: 1px solid green;
        width: 300px;
    }

    .Childss {
        border: 1px solid blue;
        width: 600px;
        height: auto;
    }
}