


.Maincomponent {
    // border: 1px solid red;
    height: auto;
    padding: 15px;

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    .formContent {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 20px;
        form {
            gap: 20px;
            display: flex;
        }
    }

    .DropDown {
        // border: 1px solid;
        text-align: end;
    }

    .tables {
        width: 100%;
        margin-top: 15px;
        border: 1px solid;
        padding: 15px;
        border-radius: 15px;

        thead {
            tr th {
                font-size: 1rem;
                font-weight: 400;
            }
        }

        tbody {
            tr td {
                font-size: 0.9rem;
            }
        }
    }

}