


.Maincomponent {
    // border: 1px solid red;
    height: auto;
    width: auto;
    padding: 15px;

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    .formContent {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 20px;
        form {
            gap: 20px;
            display: flex;
        }
    }

    .DropDown {
        // border: 1px solid;
        text-align: end;
    }

    .tables {
        overflow-x: scroll;
        width: auto;
        margin-top: 15px;
        padding: 10px;
        height: auto;
        border-radius: 10px;
        background: radial-gradient(800px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 80%);

        table {
            // border: 1px solid;
            width: 100%;

            thead {
                tr th {
                    background-color: #AAC9FF;
                    font-size: 1rem;
                    font-weight: 400;
                }
            }

            tbody {
                tr td {
                    font-size: 0.9rem;
                }
            }
        }
    }

}


@media (max-width: 900px) {
    .Maincomponent {
    // border: 1px solid red;
    height: auto;
    width: auto;
    padding: 15px;

    h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .formContent {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 20px;
        form {
            gap: 20px;
            display: flex;
        }
    }

    .DropDown {
        // border: 1px solid;
        text-align: end;
    }

    .tables {
        overflow-x: scroll;
        width: auto;
        margin-top: 15px;
        height: auto;
        background: radial-gradient(800px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 80%);

        table {
            // border: 1px solid;
            width: 100%;

            thead {
                tr th {
                    background-color: #AAC9FF;
                    font-size: 0.9rem;
                    font-weight: 400;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            tbody {
                tr td {
                    font-size: 0.9rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
        }
    }

}
}