


.Maincomponent {
    border: 1px solid red;
    height: auto;
    padding: 15px;

    h1 {
        font-size: 2rem;
        font-weight: 500;
    }

    .formContent {
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 20px;
        form {
            gap: 20px;
            display: flex;
        }
    }

    .DropDown {
        // border: 1px solid;
        text-align: end;
    }

    .tabless {
        margin-top: 10px;
    }

}