

.Mcontainer {

    h1 {
        font-size: 2rem;
    }

    .DatePicker {
        // border: 1px solid;
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            width: 300px;
            height: 35px;
        }

        p {
            font-size: 1rem;
        }

    } //! Date Picker End
    
    button {
        margin: 10px;
    }

    .DropDown {
        text-align: end;
    }

    .TableContainer {
        padding: 10px;
        border: 1px solid;
        table {
            // border: 1px solid;
            height: 60vh;
            thead {
                tr th {
                    border: 1px solid;
                    background-color: #AAC9FF;
                    height: 30px;
                }
            }
            tbody {
                tr td {
                    border: 1px solid;
                }
            }

            tfoot {
                tr td {
                    background-color: #AAC9FF;
                }
            }
        }

    }


    
} //! End Mcontainer