

.Mcontainer {

    h1 {
        font-size: 2rem;
    }

    .DatePicker {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            width: 200px;
        }

        p {
            font-size: 1rem;
        }

    }
}