

.Mcontainer {

    h1 {
        font-size: 2rem;
    }

    .DatePicker {
        // border: 1px solid;
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            width: 300px;
            height: 35px;
        }

        p {
            font-size: 1rem;
        }

    } //! Date Picker End
    
    button {
        margin: 10px;
    }

    .DropDown {
        text-align: end;
    }




    
} //! End Mcontainer