



.mainTabs {
    a {
        p {
            font-size: 1rem; 
        }
        
        @media (max-width: 700px) {
            p {
                font-size: 0.8rem;
            }
        }
        
    }

}

.mainTabs:hover {
    border-radius: 10px;
    background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
}


@media (max-width: 700px) {
    .mainTabs {
        a {
            p {
            font-size: 0.8rem ;
        }
        }
    }
}

@media (max-width: 400px) {
    .mainTabs {
        a {
            p {
            font-size: 0.6rem ;
        }
        }
    }
}