

.ContainerNav {
    background: radial-gradient(800px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 80%);

    .contentNav {
        // border: 1px solid;

        a:hover {
            background-color: rgb(146, 227, 184, 80%);
            border: 1px solid;
        }
    }
}