
//! Hero Section

.main {
    scroll-behavior: smooth;
}

.heroContainer {
    background: radial-gradient(circle at 10% 20%, rgb(50, 172, 109) 0%, rgb(209, 251, 155) 100.2%);
    // background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    height: 93vh;
    box-shadow: 1px 2px 5px rgba(217, 253, 169, 0.781);

    @media (max-width: 700px) {
        background: radial-gradient(circle at 5% 15%, rgb(50, 172, 109) 0%, rgb(209, 251, 155) 100.2%);
    }
}

.partners {
    display: flex;
    border: 1px solid;
    justify-content: space-evenly;
    img {
        width: 100px;;
        height: 100px ;
    }
}

.heroSection {
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 50vh;
    box-sizing: border-box;
    padding-top: 8vh;

    @media (max-width: 500px) {
        padding-top: 0vh;
    }

    div.heroText {
        // border: 1px solid;
        padding: 20px;
        width: 500px;
        height: 750px;
        align-content: center ;
        box-sizing: border-box;
        color: #ffffff;

        p {
            font-size: 1.3rem;
        }

        p:first-child {
            font-size: 2.8rem;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            color: #ffffff;
        }
        p span:first-child {
            background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
            background-clip: text;            /* Standard syntax */
            -webkit-background-clip: text;    /* WebKit syntax for older browsers */
            color: transparent;
        }
        
        .Btn {
            // border: 1px solid;
            font-size: 1.3rem;
            color: #f8f8f8;
            border: 1px solid;
            transition: border-width 2s;
            
        }

        .Btn:Hover {
            border-width: 2px;
            border-style: solid;
            border-image: linear-gradient(to right, rgb(221, 49, 49), rgb(119, 0, 0)) 1;
        }

        
        
        @media (max-width: 700px){
            p:first-child {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }

            .Btn {
                font-size: 1.1rem;
            }
        }

    }
    div.heroImage {
        box-sizing: border-box;
        width: 750px;
        // border: 1px solid;
        img {
            border-right: 1px solid;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            width: 100%;
            margin: 0px 20px;
        }
        
        @media (max-width: 1000px) {
            display: none;
        }
    }
}


//! End of Hero Section 

//? Navbar 

.Navbar {
    height: auto;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: radial-gradient(circle at 10% 20%, rgb(50, 172, 109) 0%, rgb(209, 251, 155) 90%);

    @media (max-width: 700px) {
        background: radial-gradient(circle at 5% 15%, rgb(50, 172, 109) 0%, rgb(209, 251, 155) 90%);
    }
}



//! About Card

.AboutCard {
    width: 100vw;
    height: 100vh;
}
