


.heroSection {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    height: auto;

    div.heroText {
        border: 1px solid;
        padding: 20px;
        width: 500px;
        height: auto;
        align-content: center ;
        p:first-child {
            font-size: 2rem;
        }
        @media (max-width: 500px){
            width: 100%;
        }
    }
    div.heroImage {
        width: 500px;
        img {
            width: 100%;
        }
        
        @media (max-width: 500px) {
            width: 100%;
        }
    }
}

