

.containerProfile {
    // border: 1px solid;
    box-shadow: 1px 4px 1px rgb(223, 223, 223);
    border-radius: 15px;
    width: 100%;

    .contentMain {
        // border: 1px solid;
        display: flex;
        padding: 15px;

        img {
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }

        h2 {
            font-size: 1.3rem ;
        }

        p {
            font-size: 1.7rem;
        }
        @media (max-width: 600px) {
            img {
                width: 80px;
                height: 80px;
            }
    
            h2 {
                font-size: 1.1rem;
            }
    
            p {
                font-size: 1.4rem;
            }
    
            h3 {
                font-size: 1rem;
            }
        }
    }

    .contentBottom {
        padding-left: 10px;
        h3 {
            font-size: 1.5rem ;
        };

        p {
            font-size: 1.1rem;
        }

        @media (max-width: 600px) {
            h3 {
                font-size: 1.2rem;
            }
            p {
                font-size: 0.9rem;
            }
        }
    }

}



.contentAccount {
    // border: 1px solid ;
    width: 100%;
    height: auto;
    padding: 25px;

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
        font-weight: 400;
        padding: 20px 5px;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    .RowContainer {
        margin: 0;
        padding: 0;
    }

    @media (max-width: 600px) {
        h1 {
            font-size: 1.7rem;
        }
        h2 {
            font-size: 1.1rem;
        }

        label {
            font-size: 0.9rem;
        }

        input {
            height: 40px;
            padding-left: 10px;
        }
    }
}



.ColStaffComp {
    width: auto;

    h1 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    table {
        // border: 1px solid;

        thead {
            tr th {
                font-size: 1rem;
                font-weight: 500;
            }
        }

        tbody {
            tr td {
                font-size: 0.9rem;
            }
        }
    }

    @media (max-width: 600px) {
        h1 {
            font-size: 1.2rem;
        }

        table {
        
            thead {
                tr th {
                    font-size: 0.7rem;
                }
            }
        }
    }
}