

.containerProfile {
    // border: 1px solid;
    box-shadow: 1px 4px 1px rgb(223, 223, 223);
    border-radius: 15px;
    width: 100%;

    .contentMain {
        // border: 1px solid;
        display: flex;
        padding: 15px;

        img {
            margin-right: 10px;
            width: 100px;
            height: 100px;
        }
    }
}


.contentAccount {
    border: 1px solid ;
    width: 100%;
    height: auto;
    padding: 25px;

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.3rem;
        padding: 20px 10px;
        border-bottom: 1px solid rgb(187, 187, 187);
    }

    .RowContainer {
        margin: 0;
        padding: 0;
    }
}