

.rowContainer {
    border: 1px solid;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .colContainer {
        border-radius: 15px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 3px 1px #8aaa98;
        gap: 15px;

        h2 {
            font-size: 2rem;
        }
    }
}