

:root {
    --textColor: #302F2F ;
}


.parentAboutUs {
    padding: 10px;
    // border: 3px solid red;
    height: auto;

    h1 {
        font-size: 2.5rem;
        margin-top: 15px;
        padding: 15px;
        text-align: center;
        color: var(--textColor);
    }

    h3 {
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
        color: var(--textColor);
    }

    h2 {
        padding: 5px;
        text-align: center;
        font-size: 1.5rem;
        color: var(--textColor);
    }

    .aboutCards {
        padding: 10px;
        // border: 1px solid;
        height: 600px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 450px;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 1px 3px 1px #97c0aa;

            .cardImage {
                width: 100%;

                img {
                    border-radius: 10px;
                    width: 100%;
                    object-fit: fill;
                }
            }

            .cardText {
                overflow: hidden;
                h5 {
                    padding: 5px 0px;
                    font-size: 1.5rem;
                    color: #5a86d1;
                }
                p {
                    font-size: 1rem;
                    color: var(--textColor);
                }
            }
        }
    }

}


//! large 
@media (max-width: 1200px) {
    .parentAboutUs {
    padding: 10px;
    // border: 3px solid red;
    height: auto;

    h1 {
        font-size: 2rem;
        margin-top: 15px;
        padding: 10px;
    }

    h3 {
        padding: 10px;
        text-align: center;
        font-size: 1.1rem;
        color: var(--textColor);
    }

    h2 {
        padding: 5px;
        text-align: center;
        font-size: 1.3rem;
        color: var(--textColor);
    }

    .aboutCards {
        padding: 10px;
        height: 600px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 440px;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 1px 3px 1px #97c0aa;

            .cardImage {
                width: 100%;

                img {
                    border-radius: 10px;
                    width: 100%;
                    object-fit: fill;
                }
            }

            .cardText {
                overflow: hidden;
                h5 {
                    padding: 5px 0px;
                    font-size: 1.4rem;
                    color: #5a86d1;
                }
                p {
                    font-size: 1rem;
                    color: var(--textColor);
                }
            }
        }
    }

    }
}

//! Laptops 
@media (max-width: 992px) {
    .parentAboutUs {
    padding: 10px;
    // border: 3px solid red;
    height: auto;

    h1 {
        font-size: 2rem;
        margin-top: 15px;
        padding: 10px;
    }

    h3 {
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        color: var(--textColor);
    }

    h2 {
        padding: 5px;
        text-align: center;
        font-size: 1.3rem;
        color: var(--textColor);
    }

    .aboutCards {
        padding: 10px;
        height: 600px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 440px;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 1px 3px 1px #97c0aa;

            .cardImage {
                width: 100%;

                img {
                    border-radius: 10px;
                    width: 100%;
                    object-fit: fill;
                }
            }

            .cardText {
                overflow: hidden;
                h5 {
                    padding: 5px 0px;
                    font-size: 1.4rem;
                    color: #5a86d1;
                }
                p {
                    font-size: 1rem;
                    color: var(--textColor);
                }
            }
        }
    }

    }
}

//! Tablets 
@media (max-width: 768px) {
    .parentAboutUs {
    padding: 10px;
    // border: 3px solid red;
    height: auto;

    h1 {
        font-size: 1.6rem;
        margin-top: 15px;
        padding: 10px;
    }

    h3 {
        padding: 10px;
        text-align: center;
        font-size: 1rem;
        color: var(--textColor);
    }

    h2 {
        padding: 5px;
        text-align: center;
        font-size: 1.2rem;
        color: var(--textColor);
    }

    .aboutCards {
        padding: 10px;
        height: auto;
        display: flex;
        justify-content: baseline;
        align-items:baseline;
        flex-direction: column;
        gap: 15px;

        .card {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            box-shadow: 1px 3px 1px #97c0aa;
            gap: 10px;

            .cardImage {
                width: 100%;

                img {
                    border-radius: 10px;
                    width: 100%;
                    object-fit: fill;
                }
            }

            .cardText {
                overflow: hidden;
                h5 {
                    padding: 5px 0px;
                    font-size: 1.2rem;
                    color: #5a86d1;
                }
                p {
                    font-size: 0.9rem;
                    color: var(--textColor);
                }
            }
        }
    }

    }
} 

//! Phones 
@media (max-width: 600px) {
    .parentAboutUs {
    padding: 10px;
    // border: 3px solid red;
    height: auto;

    h1 {
        font-size: 1.4rem;
        margin-top: 15px;
        padding: 10px;
    }

    h3 {
        padding: 10px;
        text-align: center;
        font-size: 0.9rem;
        color: var(--textColor);
    }

    h2 {
        padding: 5px;
        text-align: center;
        font-size: 1rem;
        color: var(--textColor);
    }

    .aboutCards {
        padding: 10px;
        height: auto;
        display: flex;
        justify-content: baseline;
        align-items:baseline;
        flex-direction: column;
        gap: 15px;

        .card {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            box-shadow: 1px 3px 1px #97c0aa;
            gap: 10px;

            .cardImage {
                display: none;
                img {
                    border-radius: 10px;
                    width: 100%;
                    object-fit: fill;
                }
            }

            .cardText {
                overflow: hidden;
                h5 {
                    padding: 5px 0px;
                    font-size: 1.1rem;
                    color: #5a86d1;
                }
                p {
                    font-size: 0.8rem;
                    color: var(--textColor);
                }
            }
        }
    }

    }
}