

.MainContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
    height: 800px;
    width: 100%;

    .containerAc {
        height: auto;
        width: 800px;

        .ItemAc{
            width: 100%;

        }

    }

    .containerCaro {
        border-radius: 15px;
        box-shadow: 1px 3px 1px #d3d3d3;
        padding: 20px;
        width: 900px;
        display: flex;
        justify-content: center;
            .CarouselContainer {
                width: 600px;
                height: auto;
                    img {
                        width: 100%;
                        border-radius: 15px;
                    }
            }
        }
}