

.MainContent {
    display: flex;

    .FAQcontainer {
        
        h1 {

        }

        p {
            
        }

        .Imgs {
            width: 300px;
            img {
                width: 100%;
            }
        }
    } 
}