

.MainContent {
    display: flex;
    justify-content: space-evenly;
    .FAQcontainer {
        width: 500px;
        h1 {

        }

        p {
            
        }

        .Imgs {
            width: 300px;
            img {
                width: 100%;
            }
        }
    } 
}