

.heroSection {
    border: 4px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;

    h1 {
        font-size: 3rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    .HeroButtons {
        border: 1px solid;
        .btnExplore {

        }

        .btnLogin {

        }
    }
}