

.mainTopComponent {
    margin: 0;
    padding-bottom: 20px;

    .componentHeroCard {
        margin-top: 10px;
        border-radius: 15px;

        h1 {
            font-size: 1.7rem;
            height: auto;
            width: 200px;
            padding-left: 10px;
            font-weight: 500;
        }
        .credentialDashboard {
            margin-top: 30px;
            background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
            border-radius: 15px;
            width: auto;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 30px;

            img {
                width: 90px;
            }

            div:last-child {

                h4 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
} //! End 


@media (max-width: 998px) {
    .mainTopComponent {

    .componentHeroCard {
        h1 {
            font-size: 1.4rem;
        }
        .credentialDashboard {
            margin-top: 30px;

            img {
                width: 80px;
            }

            div:last-child {

                h4 {
                    font-size: 1.2rem;
                }
                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
    } //! End 
}

@media (max-width: 630px) {
    .mainTopComponent {

    .componentHeroCard {
        h1 {
            font-size: 1.3rem;
        }
        .credentialDashboard {
            margin-top: 30px;

            img {
                width: 70px;
            }

            div:last-child {

                h4 {
                    font-size: 1.1rem;
                }
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
    } //! End 
}

@media (max-width: 532px) {
    .mainTopComponent {

    .componentHeroCard {
        h1 {
            font-size: 1.2rem;
        }
        .credentialDashboard {
            margin-top: 30px;

            img {
                width: 60px;
            }

            div:last-child {

                h4 {
                    font-size: 1rem;
                }
                p {
                    font-size: 0.8rem;
                }
            }
        }
    }
    } //! End 
}






.smallContainer {
        background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
        border-radius: 15px;
        padding: 15px;
        display: flex;
        gap: 10px;
        flex-direction: column;

        div:first-child {
            display: flex;
        }
        
        .largeContainer {
            margin-top: 10px;
            display: flex;
            width: auto;
            gap: 10px;

            .divLG {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
}

@media (max-width: 998px) {
    .smallContainer {
        padding: 0px;
        display: flex;
        gap: 10px;
        flex-direction: column;

        div:first-child {
            display: flex;
        }
        
        .largeContainer {
            margin-top: 10px;
            display: flex;
            width: auto;
            gap: 10px;

            .divLG {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

@media (max-width: 640px) {
    .smallContainer {
        flex-direction: column;

        div:first-child {
            display: flex;
        }
        
        .largeContainer {
            margin-top: 10px;
            display: flex;
            width: auto;
            gap: 10px;

            .divLG {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

@media (max-width: 532px) {
    .smallContainer {
        flex-direction: column;

        div:first-child {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 5px;
        }
        
        .largeContainer {
            margin-top: 10px;
            display: flex;
            width: auto;
            gap: 10px;

            .divLG {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

@media (max-width: 446px) {
    .smallContainer {
        flex-direction: column;

        div:first-child {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }
        
        .largeContainer {
            margin-top: 10px;
            display: flex;
            width: auto;
            gap: 10px;

            .divLG {
                width: auto;
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}