


/* !(Warning): This is for ChartSm */

.rowContainer {
    border: 1px solid red;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 12px 0;
    display: flex;
    padding: 10px;

    @media (max-width: 1000px) {
        gap: 15px;
    }
}


/* !(Warning): This is for ChartLg */

.rowContainerLg {
    border: 1px solid green;
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: auto;
    gap: 15px;
    justify-content: space-evenly;
    min-width: 500px;
}

.colContainerLg {
    /* border: 1px solid; */
    padding: 0;
    overflow: auto;
    width: auto;
}



/*? Redesigning */

.mainComponent {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    width: 100%;
    height: 88vh;
    min-width: 370px;
}

.componentHeroCard {
    margin: 0;
    padding: 10px 10px;
    /* border: 1px solid; */
    width: 100%;
    height: auto;
    max-width: 500px;
    gap: 5px;
}

.credentialDashboard {
    border: 1px solid;
    display: flex;
    padding: 10px;

    img {
        width: 100%;
        max-width: 100px;
        height: 100px;
    }

    div {
        display: flex;
        flex-direction: column;
        
        p {
            font-size: 1rem;
        }

        p:first-child {
            font-size: 1.5rem;
        }

    }
}