

.mainTopComponent {
    border: 1px solid red;
    margin: 0;
    padding: 10px;

    .componentHeroCard {
        border: 1px solid green;

        .credentialDashboard {
            border: 1px solid blue;
        }
    }
}