



.MainComponent {
    margin-top: 100px;
    box-shadow: 1px 5px 1px #E1E4E4;
    border-radius: 15px;
    width: 100%;

    .Mcontent {

        .content {
            display: flex;
            padding: 10px;

            img {
                width: 80px;
                height: 80px;
                margin-right: 10px;
            }

            .contentTitle {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                p {
                    font-size: 2rem;
                }
            }
        }
    }
}