
*, ::before, ::after {
    box-sizing: border-box;
}

.mainReOrdering {
    // border: 1px solid red;

    h4 {
        padding: 10px;
        font-size: 1.4rem;
    }

    .TopButtons {
        // border: 1px solid;
        height: auto;
        display: flex;
        justify-content:space-evenly ;
        
        button {
            font-size: 0.9rem;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 10px 12px;
        }
    }
}

.containerReordering {
    // border: 1px solid green;
    height: 500px;
    overflow: auto;
    padding: 10px;
    
    .CardBody {
        background-color: #ffffff;
        box-shadow: 1px 1px 2px rgb(201, 200, 200);
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        margin: 4px 0px;
        height: 130px;

        div:first-child {
            
            h5 {
                font-size: 1.3rem;
            }
            p {
                font-size: 0.9rem;
            }
        }

    }

}


@media (max-width: 700px) {
    .mainReOrdering {
        h4 {
            font-size: 1.2rem;
        }
    }

    .containerReordering {
    padding: 0px;
    
    .CardBody {
        height: 120px;
        margin: 2px 0px;
        div:first-child {
            h5 {
                font-size: 1.2rem;
            }
            p {
                font-size: 0.8rem;
            }
        }

            div:last-child {
                button {
                    font-size: 0.8rem;
                }
            }
        }

    }
    
    .mainReOrdering {
        .TopButtons {
        
        button {
            font-size: 0.7rem;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 10px 10px;
        }
    }
    }
}

@media (max-width: 400px) {

    .mainReOrdering {
        h4 {
            font-size: 1.1rem;
        }
    }

    .containerReordering {
    
    .CardBody {
        padding: 10px;
        height: auto;
        margin: 2px 0px;
        align-items: baseline;
        flex-direction: column;

        div:first-child {
            h5 {
                font-size: 1.2rem;
            }
            p {
                font-size: 0.8rem;
            }
        }

            div:last-child {
                margin-top: 5px;
                button {
                    font-size: 0.8rem;
                }
            }
        }

    }

    .mainReOrdering {
        .TopButtons {
        flex-direction: column;

        button {
            font-size: 0.8rem;
            border-radius: 2px;
            padding: 10px 10px;
            margin-bottom: 2px;
        }
    }
    }
}