
*, ::before, ::after {
    box-sizing: border-box;
}

.mainReOrdering {
    border: 1px solid red;

    h4 {
        font-size: 1.5rem;
    }

    div:first-child {
        border: 1px solid;
    }
}