

//! Set Tax

.SetTaxBtn {
    font-size: 0.9rem;
    padding: 10px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    @media (max-width: 800px) {
        font-size: 0.8rem;
        padding: 10px 15px;
    }
    
    @media (max-width: 350px) {
        width: 100vw;
        font-size: 0.8rem;
        padding: 11px 12px;
        border-radius: 0px;
    }
}


.listGroupContainer {
    height: 240px;
    overflow: auto;

    .cardBody {
        height: 50px;
        display: flex;
    }
}

// ! Set Category

.SetCategoryBtn {
    font-size: 0.9rem;
    padding: 10px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    @media (max-width: 800px) {
        font-size: 0.8rem;
        padding: 11px 12px;
    }
    
    @media (max-width: 350px) {
        width: 100vw;
        font-size: 0.8rem;
        padding: 11px 12px;
        border-radius: 0px;
    }
}

.listGroupofCategory {
    height: 240px;
    overflow: auto;

    .listItmeofCategory {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
        }
    }
}


//! Set Discount

.SetDiscountsBtn {
    font-size: 0.9rem;
    padding: 10px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    @media (max-width: 800px) {
        font-size: 0.8rem;
        padding: 11px 12px;
    }
    
    @media (max-width: 350px) {
        width: 100vw;
        font-size: 0.8rem;
        padding: 11px 12px;
        border-radius: 0px;
    }
}

.ListGroupDiscount {
    // border: 1px solid red;
    height: 200px;
    overflow: auto;

    .cardDiscountBody {
        display: flex;
    }
}


//! Set Qr-Code 

.SetQrcodemain {
    border: 1px solid red;
    padding: 10px;
    height: 600px;
    overflow: auto;

    .SetQrcodeContent {
        border: 1px solid green;
        border-radius: 10px;
        box-shadow: 1px 1px 3px rgb(180, 179, 179);
        padding: 10px;
        margin: 5px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between ;
        align-items: center;

        img {
            width: 70px;
            height: auto;
        }

        h4{
            border: 1px solid;
            width: 110px;
            font-size: 0.9rem;
        }

        p {
            border: 1px solid;
            overflow-x: hidden;
            width: 150px;
            font-size: 0.9rem;
            button {
                color: red;
                font-size: 0.9rem;
                text-decoration: none;
            }
        }

        .SetQrbtn {
            width: 125px;
            font-size: 0.9rem;
        }
    }

    @media (max-width: 900px) {
        padding: 0px;

        .SetQrcodeContent {

        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid;

            h4{
                font-size: 0.8rem;
            }
            
            p {
                font-size: 0.7rem;
                button {
                    font-size: 0.7rem;
                    text-decoration: none;
                }
            }

            img {
                width: 50px;
                height: auto;
            }

            div {
                button {
                    font-size: 0.7rem;
                }
            }
        }
    }
    }
    
    @media (max-width: 400px) {
        padding: 0px;

        .SetQrcodeContent {
            height: auto;

        div {
            align-items:center ;
            flex-direction: column;
            // border: 1px solid;
            h4{
                font-size: 0.8rem;
            }
            
            p {
                font-size: 0.7rem;
                button {
                    font-size: 0.7rem;
                    text-decoration: none;
                }
            }

            img {
                width: 50px;
                height: auto;
            }

            div {
                // border: 1px solid;
                button {
                    font-size: 0.7rem;
                }
            }
        }
    }
    }
}//!End 



.SetQrcodeBtn {
    margin-top: 10px;
    // border: 1px solid;
    display: flex;
    justify-content: space-evenly;

    button {
        font-size: 1rem;
    }

    button:first-child {
        border-top-left-radius: 20px;
    }
    button:last-child {
        border-top-right-radius: 20px;
    }

    @media (max-width: 800px) {
        
        button {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 400px) {
        flex-direction: column;

        button {
            margin: 5px 1px;
            font-size: 0.7rem;
            border-radius: 0px;
        }
    }
}