

//! Set Tax

.SetTaxBtn {
    font-size: 1rem;
    padding: 10px 40px;

    @media (max-width: 800px) {
        font-size: 0.8rem;
        padding: 10px 15px;
    }
}


.listGroupContainer {
    height: 240px;
    overflow: auto;

    .cardBody {
        height: 50px;
        display: flex;
    }
}

// ! Set Category

.SetCategoryBtn {
    font-size: 0.9rem;
    padding: 10px 40px;

    @media (max-width: 800px) {
        font-size: 0.8rem;
        padding: 11px 12px;
    }
}

.listGroupofCategory {
    height: 240px;
    overflow: auto;

    .listItmeofCategory {
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
        }
    }
}


//! Set Discount

.SetDiscountsBtn {
    font-size: 0.9rem;
    padding: 10px 40px;

    @media (max-width: 800px) {
        font-size: 0.8rem;
        padding: 11px 12px;
    }
}

.ListGroupDiscount {
    border: 1px solid red;

    .cardDiscountBody {
        display: flex;
    }
}