


.SetTaxBtn {
    font-size: 1rem;

    @media (max-width: 700px) {
        font-size: 0.8rem;
    }
}


.listGroupContainer {
    height: 250px;
    overflow: auto;

    .cardBody {
        height: 50px;
        display: flex;
    }
}