
*, ::before, ::after {
    box-sizing: border-box;
}

.listGroupItem {
    border: 1px solid;
}


.cardBody {
    display: flex;
    flex-direction: column;
    border: 1px solid;

    .cardTitle {
        font-size: 1.5rem;
    } //! End of cardTitle

    .cardText {
        display: flex;
        border: 1px solid;
        justify-content: space-between;

        div:last-child {
            display: inline-flex;
            align-items: center;
        }
    }

}//! End of cardBody