
:root {
    --colshadow: #e2dfdf ;
    --colorleft: #92E3B8 ;
}


.rowContainer {
    /* border: 1px solid; */
    width: 100%;
    height: auto;
    margin: 30px 0px;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-content: center;
    min-width: 300px;
}

.colContainer {
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 200px;
    align-content: center;
    box-shadow: 0px 8px 5px var(--colshadow);
}


/* ! Button Container */

.btnContainer1 {
    width: 100%;
    height: auto;
    padding: 0px 30px;
}

.btnContainer2 {
    width: 100%;
    height: auto;
    padding: 0px 46px;
}

.btnContainer3 {
    width: 100%;
    height: auto;
    padding: 0px 35px;
}


/*? Redesigning */

.mainComponent {
    margin: 0;
    padding: 15px;
    /* border: 1px solid red; */
    width: 100%;
    min-width: 370px;
}

.componentHeroCard {
    margin: 0 ;
    padding: 10px;
    /* border: 1px solid; */
    width: 100%;
    height: auto;
    max-width: 400px;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerHeroCard {
    /* border: 1px solid red; */
    border-top: 1px solid var(--colshadow) ;
    padding: 20px;
    overflow: auto;
    width: 100%;
    margin-top: 20px;
}

.buttonsHeroCard {
    display: flex;
    /* border:  1px solid; */
    width: 900px;
    justify-content: space-between;
    border-bottom: 1px solid var(--colshadow);
    padding: 20px;

}


.containerCardProduct {
    /* border: 1px solid; */
    padding: 10px;
}

.contentCardProduct {
    /* border: 1px solid red; */
    padding: 20px;
    width: 100%;
    overflow: auto;

    display: flex;
    gap: 30px;
}