
:root {
    --colshadow: #e2dfdf ;
}


.rowContainer {
    /* border: 1px solid; */
    width: 100%;
    height: auto;
    margin: 30px 0px;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-content: center;
    min-width: 300px;
}

.colContainer {
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 200px;
    align-content: center;
    box-shadow: 0px 8px 5px var(--colshadow);
}


/* ! Button Container */

.btnContainer1 {
    width: 100%;
    height: auto;
    padding: 0px 30px;
}

.btnContainer2 {
    width: 100%;
    height: auto;
    padding: 0px 46px;
}

.btnContainer3 {
    width: 100%;
    height: auto;
    padding: 0px 35px;
}


/*? Redesigning */

.mainComponent {
    margin: 0;
    padding: 0;
    border: 1px solid red;
    width: 100%;
    min-width: 370px;
}

.componentHeroCard {
    margin: 0;
    padding: 10px 10px;
    border: 1px solid;
    width: 100%;
    height: auto;
    max-width: 390px;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
}