
*, ::before, ::after {
    box-sizing: border-box;
}

.parentAboutus {
    // border: 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    gap: 20px;
    display: flex;

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    h2 {
        // border: 1px solid;
        width: 60vw;
        font-size: 1.5rem;
        text-align: center;
    }
    

    .aboutCards {
        // border: 1px solid red;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        
        .card {
            box-shadow: 1px 1px 3px rgb(202, 202, 202);
            padding: 10px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 500px;
            border-radius: 10px;
            gap: 10px;
            
            div:first-child {
                // border: 1px solid red;
                width: 100%;
                height: 250px;
                
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div:last-child {
                padding: 10px;
                h5 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }

    }
}



@media (max-width: 1000px) {
    .parentAboutus {
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    padding: 0px;

    h1 {
        margin-top: 35px;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        text-align: center;
    }

    h2 {
        width: 80vw;
        text-align: center;
        font-size: 1rem;
    }

    .aboutCards {
        // border: 1px solid red;
        width: 100%;
        height: 650px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .card {
            display: flex;
            flex-direction: row;
            padding: 10px;
            width: 100%;
            height: 200px;
            
            div:first-child {
                // border: 1px solid red;
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div:last-child {
                display: flex;
                flex-direction: column;
                // border: 1px solid green;
                justify-content: center;
                
                h5 {
                    text-align: left;
                    margin-left: 10px;
                    font-size: 1.3rem;
                }

                p {
                    margin-left: 10px;
                    text-align: left;
                    font-size: 0.9rem;
                }
            }
        }

    }
}
}


//! Login in LandingPage|| LogInCardPagecss

.LogInContainer {
    box-sizing: border-box;
    border: 5px solid green;
    height: 100vh;
    display: flex;

    div:first-child {
        width: 50vw;
        border: 1px solid;
        display: inline-flex;
        align-items: center;
        padding: 10px;
        h1 {
            
        }
    }

    div:last-child {
        border: 1px solid;
        width: 50vw;
    }
}