
*, ::before, ::after {
    box-sizing: border-box;
}

.parentAboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;

    .aboutCards {
        border: 1px solid red;
        width: 100%;
        max-width: 60vw;
        display: flex;
        justify-content: space-around;

        div {
            width: 20rem;
        }
    }
}