
*, ::before, ::after {
    box-sizing: border-box;
}

.parentAboutus {
    // border: 1px solid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    gap: 20px;
    display: flex;

    h1 {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.2rem;
    }

    h2 {
        // border: 1px solid;
        width: 60vw;
        font-size: 1.5rem;
        text-align: center;
    }
    

    .aboutCards {
        // border: 1px solid red;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        
        .card {
            box-shadow: 1px 1px 3px rgb(202, 202, 202);
            padding: 10px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            width: 500px;
            border-radius: 10px;
            gap: 10px;
            
            div:first-child {
                // border: 1px solid red;
                width: 100%;
                height: 250px;
                
                img {
                    border-radius: 10px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div:last-child {
                padding: 10px;
                h5 {
                    font-size: 1.5rem;
                }

                p {
                    font-size: 1.2rem;
                }
            }
        }

    }
}



@media (max-width: 1000px) {
    .parentAboutus {
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
    padding: 0px;

    h1 {
        margin-top: 35px;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
        text-align: center;
    }

    h2 {
        width: 80vw;
        text-align: center;
        font-size: 1rem;
    }

    .aboutCards {
        // border: 1px solid red;
        width: 100%;
        height: 650px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        .card {
            display: flex;
            flex-direction: row;
            padding: 10px;
            width: 100%;
            height: 200px;
            
            div:first-child {
                // border: 1px solid red;
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            div:last-child {
                display: flex;
                flex-direction: column;
                // border: 1px solid green;
                justify-content: center;
                
                h5 {
                    text-align: left;
                    margin-left: 10px;
                    font-size: 1.3rem;
                }

                p {
                    margin-left: 10px;
                    text-align: left;
                    font-size: 0.9rem;
                }
            }
        }

    }
}
}


//! Login in LandingPage|| LogInCardPagecss

.LogInContainer {
    box-sizing: border-box;
    // border: 5px solid green;
    height: 100vh;
    display: flex;

    .LoginText {
        width: 50vw;
        // border: 1px solid;
        display: inline-flex;
        align-items: center;
        padding: 10px;
        
        h1 {
            font-size: 4.5rem;
            padding: 0px 20px;
            background: radial-gradient(circle at 30% 50%, rgb(221, 49, 49) 20%, rgb(119, 0, 0) 90%);
            background-clip: text;            /* Standard syntax */
            -webkit-background-clip: text;    /* WebKit syntax for older browsers */
            color: transparent;
        }
    }

    .LoginFormContainer {
        // border: 1px solid;
        width: 50vw;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .LoginForm {
            display: flex;
            flex-direction: column;
            // border: 1px solid;
            border-radius: 10px;
            box-shadow: 2px 2px 4px #3cd483;
            padding: 70px;
            height: auto;
            width: auto;
            gap: 20px;
            justify-content: center;

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;
                h2 {
                    color: #302F2F;
                    font-size: 2.5rem;
                    font-weight: 500;
                    text-align: center;
                    padding: 20px;
                }
                div {
                    display: flex;
                    flex-direction: column;
                    padding: 8px 0px;
                    input {
                        padding: 10px;
                        height: 45px;
                        width: 400px;
                    }
                } 

            }

            a {
                text-align: center;
                text-decoration: none;
                color: #6b6b6b;
                padding: 15px 10px;
            }

            button {
                background-color: #92E3B8;
                // border: 1px solid;
                border-radius: 0px;
                padding: 9px 0px;
            }

            button:hover {
                background-color: #ffffff;
                border: 1px solid;
            }
        }
    }

}