

.mainTabs {
    // border: 1px solid;
    a {
        display: flex;
        gap: 10px;
    }

    p {
        font-size: 1rem;
    }
}


.NavContainer {
    // border: 1px solid;
    margin: 30px 0px;
}