

.mainTopComponent {
    // border: 1px solid red;
    margin: 0;
    // padding: 10px;
    padding-bottom: 20px;

    .componentHeroCard {
        // border: 1px solid green;
        margin-top: 10px;
        border-radius: 15px;

        h1 {
            font-size: 2rem;
            // border: 1px solid;
            height: auto;
            width: 200px;
            // background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
            font-weight: 500;
        }
        .credentialDashboard {
            margin-top: 30px;
            // border: 1px solid rgb(150, 150, 150);
            background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
            border-radius: 15px;
            width: auto;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 30px;

            img {
                width: 100px;
            }

            div:last-child {

                h4 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
} //! End 


.chartContainer {
    // border: 1px solid red;
    height: auto;
    
    .smallContainer {
        background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
        // border: 1px solid #dbdbdb;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        div:first-child {
            display: flex;
        }
        
        .largeContainer {
            // border: 1px solid;
            margin-top:10px;
            display: flex;
            width: auto;
            gap: 10px;

            .buttonsHeroCard {
                // border: 1px solid;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 500px;
                height: 400px;
                gap: 20px;
                justify-content: center;
            }

            .divLG {
                width: auto;
                display: flex;
                flex-direction: column;
                // border: 1px solid;
                gap: 10px;
            }
        }
    }

}


@media (max-width: 1000px) {
    .mainTopComponent {
    border: 1px solid red;
    margin: 0;
    // padding: 10px;
    padding-bottom: 20px;

    .componentHeroCard {
        border: 1px solid green;
        margin-top: 10px;
        border-radius: 15px;

        h1 {
            font-size: 1.7rem;
            // border: 1px solid;
            height: auto;
            width: 200px;
            // background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
            font-weight: 500;
        }
        .credentialDashboard {
            margin-top: 30px;
            // border: 1px solid rgb(150, 150, 150);
            background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
            border-radius: 15px;
            width: auto;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 30px;

            img {
                width: 90px;
            }

            div:last-child {

                h4 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
} //! End 


.chartContainer {
    border: 1px solid red;
    height: auto;
    
    .smallContainer {
        background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
        // border: 1px solid #dbdbdb;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        div:first-child {
            display: flex;
        }
        
        .largeContainer {
            border: 1px solid;
            margin-top:10px;
            display: flex;
            width: auto;
            gap: 10px;

            .buttonsHeroCard {
                // border: 1px solid;
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 500px;
                height: 400px;
                gap: 20px;
                justify-content: center;
            }

            .divLG {
                width: auto;
                display: flex;
                flex-direction: column;
                // border: 1px solid;
                gap: 10px;
            }
        }
    }

}
}

@media (max-width: 700px) {
    .mainTopComponent {
    border: 1px solid red;
    margin: 0;
    // padding: 10px;
    padding-bottom: 20px;

    .componentHeroCard {
        border: 1px solid green;
        margin-top: 10px;
        border-radius: 15px;

        h1 {
            font-size: 1.7rem;
            // border: 1px solid;
            height: auto;
            width: 200px;
            // background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
            font-weight: 500;
        }
        .credentialDashboard {
            margin-top: 30px;
            // border: 1px solid rgb(150, 150, 150);
            background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
            border-radius: 15px;
            width: auto;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 30px;

            img {
                width: 90px;
            }

            div:last-child {

                h4 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
} //! End 


.chartContainer {
    border: 1px solid red;
    height: auto;
    
    .smallContainer {
        background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);
        // border: 1px solid #dbdbdb;
        border-radius: 15px;
        padding: 15px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        div:first-child {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        
        .largeContainer {
            border: 1px solid;
            margin-top:10px;
            display: flex;
            justify-content:center;
            width: auto; 
            

            .buttonsHeroCard {
                display: none;
            }
        }
    }

}
}