
:root {
    --chart1Color: #cdc3ff ;
    --char3Color: #AAC9FF ;
    --chart2Color: #92E3B8 ;
    --chartShadow: #d3d0d0 ; /*! Change This Color */
    --BgColor: #EFF3F4 ;
}

.containerChart1 {
    border: 1px solid red;
    width: 400px;
    border-radius: 10px;
}

.containerChart2 {
    border: 1px solid red;
    width: 300px;
    border-radius: 10px;
}

.containerChart3 {
    border: 1px solid red;
    width: 300px;
    border-radius: 10px;
}