
:root {
    --bgChart1: #e8eee8  ;
    --bgChart2: #92E3B8;
    --bgColor: #afafaf ;
    --bgChart3: #e8eee8   ;
}


/* ?Chart 1 */
.containerChart1 {
    // border: 1px solid; 
    box-sizing: border-box;
    padding: 15px 20px;
    height: auto;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    background-color: var(--bgChart1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 5px;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart1 {
        p {
            font-size: 2.2rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.9rem;
    }
}

/* ?Chart 2 */
.containerChart2 {
    // border: 1px solid; 
    box-sizing: border-box;
    padding: 15px 20px;
    height: auto;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    background-color: var(--bgChart2);

    h5 {
        font-size: 0.9rem;
    }

    .contentChart2 {
        p {
            font-size: 1.5rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.8rem;
    }

}

/* ?Chart 3 */
.containerChart3 {
    box-sizing: border-box;
    padding: 15px 20px;
    height: auto;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    background-color: var(--bgChart3);

    h5 {
        font-size: 0.9rem;
    }

    .contentChart3 {
        p {
            font-size: 1.5rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.8rem;
    }

}

/* ?Chart 3 */
.containerChart4 {
    border: 1px solid #8d8d8d; 
    box-sizing: border-box;
    padding: 15px 20px;
    height: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 5px;
    border-left: none;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart4 {
        p {
            font-size: 2.5rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.9rem;
    }

}



.containerChartLg1 {
    border: 2px solid red;
    width: 100%;
    max-width: 700px;
    height: 590px;
    border-radius: 10px;
    box-shadow: 1px 5px 3px var(--chartShadow);
    overflow: auto;
    padding: 10px;

    p {
        font-size: 1.1rem;
        padding-left: 10px;
    }

    .activityList {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: auto;
        
        .activityItem {
            border: 1px solid #b1b1b1;
            display: flex;
            flex-direction: column;
            padding: 15px;
            border-radius: 10px;
    
            .activityDetails {
                // border: 1px solid;
                display: flex;
                flex-direction: column;

                h1 {
                    font-size: 1.1rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }




}

.containerChartLg2 {
    padding: 10px;
    width: 100%;
    height: 300px;
    box-shadow: 1px 5px 3px var(--chartShadow);
    overflow: auto;
    display: flex;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    position: relative;

    .rangeButtons {
        position: absolute;
        top: 5%;
        left: 80%;

        select {
            font-size: 0.9rem;
        }
    }
}

.containerChartLg3 {
    padding: 10px;
    width: 720px;
    height: 300px;
    box-shadow: 1px 5px 3px var(--chartShadow);
    overflow: auto;
    display: flex;
    border-radius: 10px;
    gap: 20px;
    position: relative;

    .rangeButtons {
        position: absolute;
        top: 5%;
        left: 80%;

        select {
            font-size: 0.9rem;
        }
    }

}




@media (max-width: 998px) {
    /* ?Chart 1 */
.containerChart1 {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart1 {
        p {
            font-size: 2rem;
        }
    }
}

/* ?Chart 2 */
.containerChart2 {
    width: 100%;
    max-width: 280px;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart2 {
        p {
            font-size: 1.3rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.8rem;
    }

}

/* ?Chart 3 */
.containerChart3 {
    height: auto;
    width: 100%;
    max-width: 280px;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart3 {
        p {
            font-size: 1.4rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.8rem;
    }

}

/* ?Chart 3 */
.containerChart4 {
    height: auto;
    width: 100%;
    max-width: 500px;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart4 {
        p {
            font-size: 2rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.9rem;
    }

}

}

@media (max-width: 630px) {
        /* ?Chart 1 */
.containerChart1 {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart1 {
        p {
            font-size: 2rem;
        }
    }
}

/* ?Chart 2 */
.containerChart2 {
    width: 100%;
    max-width: 280px;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart2 {
        p {
            font-size: 1.3rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.8rem;
    }

}

/* ?Chart 3 */
.containerChart3 {
    height: auto;
    width: 100%;
    max-width: 280px;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart3 {
        p {
            font-size: 1.4rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.8rem;
    }

}

/* ?Chart 3 */
.containerChart4 {
    height: auto;
    width: 100%;
    max-width: 500px;

    h5 {
        font-size: 0.9rem;
    }

    .contentChart4 {
        p {
            font-size: 2rem;
        }
    }

    select {
        width: 100%;
        font-size: 0.9rem;
    }

}
}