
:root {
    --chart1Color: #cdc3ff ;
    --char3Color: #AAC9FF ;
    --chart2Color: #92E3B8 ;
    --chartShadow: #d3d0d0 ; /*! Change This Color */
    --BgColor: #EFF3F4 ;
}


.contentChart {
    // border: 1px solid;
    text-align: center;
    box-sizing: border-box;
    
    p:first-child {
        font-size: 1.7rem;
    }

    p{
        font-size: 0.9rem;
    }

    @media (max-width: 700px) {
        p:first-child {
            font-size: 1.7rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

}

.containerText {
    // border: 1px solid;
    width: auto;
    display: flex;
    padding: 5px ;
    gap: 5px;

    p {
        font-size: 0.9rem;
    }
}

/* ?Chart 1 */

.containerChart1 {
    // border: 1px solid;
    box-sizing: border-box;
    border-radius: 10px;
    //! Top&Bottom / Left&Right
    padding: 20px;
    height: auto;
    background-color: var(--chart1Color);
    width: 300px;
    flex-shrink: 0;

    @media (max-width: 1200px) {
        width: 300px;
        padding: 5px 10px;
    }

    @media (max-width: 900px) {
        width: 80%;
        padding: 5px 10px;
    }

    @media (max-width: 700px) {
        width: 90%;
        padding: 5px 10px;
    }
}

/* ?Chart 2 */
.containerChart2 {
    /* border: 1px solid; */
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 20px;
    height: auto;
    background-color: var(--chart2Color);
    // box-shadow: 1px 1px 3px var(--chartShadow);
    width: 350px;
    flex-shrink: 0;

    @media (max-width: 1200px) {
        width: 300px;
        padding: 5px 10px;
    }

    @media (max-width: 900px) {
        width: 80%;
        padding: 5px 10px;
    }

    @media (max-width: 700px) {
        width: 90%;
        padding: 5px 10px;
    }
}

/* ?Chart 3 */
.containerChart3 {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 15px 20px;
    height: auto;
    background-color: var(--char3Color);
    // box-shadow: 1px 1px 3px var(--chartShadow);
    width: 350px;
    flex-shrink: 0;

    @media (max-width: 1200px) {
        width: 300px;
        padding: 5px 10px;
    }

    @media (max-width: 900px) {
        width: 80%;
        padding: 5px 10px;
    }

    @media (max-width: 700px) {
        width: 90%;
        padding: 5px 10px;
    }
}

/* !Warning This is for ChartLg */

.containerChartLg1 {
    border: 1px solid yellow;
    width: 100%;
    height: 400px;
    background-color: var(--BgColor);
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--chartShadow);
    overflow: auto;

    .activityItem {
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    .activityItem p {
    color: #4CAF50;  // You can customize the colors
    }
}

.containerChartLg2 {
    // border: 1px solid violet;
    width: 100%;
    height: 400px;
    /*! Change this in auto if chart-lg is coded*/
    box-shadow: 1px 1px 3px var(--chartShadow);
    background-color: var(--BgColor);
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.containerChartLg3 {
    border: 1px solid rgb(130, 238, 144);
    width: 100%;
    height: 400px;
    /*! Change this in auto if chart-lg is coded*/
    box-shadow: 1px 1px 3px var(--chartShadow);
    background-color: var(--BgColor);
    border-radius: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}



@media (max-width: 700px) {
    .containerChartLg1 {
    border: 1px solid rgb(235, 235, 135);
    width: 100%;
    height: 290px;
    background-color: var(--BgColor);
    border-radius: 20px;
    box-shadow: 1px 1px 3px var(--chartShadow);
}

.containerChartLg2 {
    border: 1px solid rgb(238, 130, 238);
    width: 100%;
    height: 290px;
    /*! Change this in auto if chart-lg is coded*/
    box-shadow: 1px 1px 3px var(--chartShadow);
    background-color: var(--BgColor);
    border-radius: 20px;
}

.containerChartLg3 {
    // border: 1px solid rgb(130, 238, 144);
    width: 100%;
    height: 300px;
    /*! Change this in auto if chart-lg is coded*/
    box-shadow: 1px 1px 3px var(--chartShadow);
    background-color: var(--BgColor);
    border-radius: 20px;
}
}


.activityItem {
    margin-bottom: 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.activityItem p {
    color: #4CAF50;  // You can customize the colors
}
