
:root {
    --chart1Color: #CDC3FF ;
    --chart2Color: #AAC9FF ;
    --chart3Color: #92E3B8 ;
    --chartShadow: #d3d0d0 ; /*! Change This Color */
}


.containerContent {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
    height: 100%;
    max-height: 200px;
}

.contentChart {
    /* border: 1px solid; */
    text-align: center;
    height: auto;
    align-content: center;
    border-radius: 10px;
}