
:root {
    --btnGoogle: #2f9c4b ;
}


.containerSpace {
    width: 100%;
    height: 95px;
}


.containerRow {
    width: 100%;
    max-width: 450px;
    min-width: 350px;

    .col2 {
        p {
            font-size: 1.5rem;
        }
        
        @media (max-width: 500px) {
            p {
                font-size: 1rem;
            }
        }
    }

}

.btnLogin {
    width: 70%;
}

.btnGoogle {
    width: 65%;
    border-color: var(--btnGoogle);
    border-radius: 10px;
}