



.mainLayoutContainer {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;

background: linear-gradient(108.1deg, rgb(167, 220, 225) 11.2%, rgb(217, 239, 242) 88.9%);}