

:root {
    --navBorder: #D4E1FF ;
    --hoverbuttons: #EBF1FF ;
}

/* *Nav Login */

.navLogin {
    border-bottom: 1px solid var(--navBorder);
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 412px;
}



/* *Nav Dashboard */

.navDashboard {
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--navBorder);
    /* border: 1px solid red; */

}

.btnOffcanvas {
    margin-right: 15px;
}

.offCanvasHeader {
    border-bottom: 1px solid var(--navBorder);
    padding: 20px;

}

/* *Off Canvas Buttons*/

.buttonOffcanvas {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    border: 1px solid red ;
    height: 700px;
    justify-content: space-between;
    padding: 15px;
}



/** Buttons.jsx Design*/

.contentButtons {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
    color: #333230;
}

.contentButtons:hover {
    background-color: var(--hoverbuttons);
}



