

:root {
    --navBorder: #d6d6d6 ;
    --hoverbuttons: rgb(146, 227, 184, 80%) ;
}

/* *NavLogin.jsx */

.navLogin {
    min-width: 412px;
    background: radial-gradient(788px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 50%);    
    margin: 0;
    padding: 0px 10px ;
    height: 70px;
    align-content: center;
    

    @media (max-width: 700px) {
        span {
            margin-left: 15px;
        }
    }
}



/* *NavDashboard.jsx & StaffNavDashboard */

.navDashboard {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: radial-gradient(800px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 80%);
}

.navStaffDashboard {
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: radial-gradient(800px at 0.7% 3.4%, rgb(164, 231, 192) 0%, rgb(245, 255, 244) 80%);
    height: 75px;
}



.btnOffcanvas {
    margin-right: 15px;
}

.offCanvasHeader {
    border-bottom: 1px solid var(--navBorder);
    padding: 20px;

}

/* *OffCanvas Body Buttons*/

.buttonOffcanvas {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    /* border: 1px solid red ; */
    height: 700px;
    justify-content: space-between;
    padding: 15px;
}

.btnOffcanvas:hover {
    background-color: var(--hoverbuttons);
    border: 1px solid var(--hoverbuttons);
}

.buttonsList {
    /* border: 1px solid green; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/** Buttons.jsx Design*/

.contentButtons {
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
    color: #333230;
    padding-left: 10px;
}

.contentButtons:hover {
    background-color: var(--hoverbuttons);
}



