

:root {
    --navBorder: #e1ebe4 ;
}

/* *Nav Login */

.navLogin {
    border-bottom: 1px solid var(--navBorder);
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 412px;
}



/* *Nav Dashboard */

.navDashboard {

    border: 1px solid red;

}

.btnOffcanvas {
    margin-right: 15px;
}

