
:root {
    --chartShadow: #d3d0d0; /*! Change This Color */
}



.containerProduct {
    height: 100%;
    width: 100%;
    max-height: 600px;
    overflow: auto;
    margin: 20px 0px;
    min-width: 380px;
    overflow: auto;
}

.colProduct {
    box-shadow: 1px 1px 5px var(--chartShadow);
    height: 500px;
    width: 100%;
    border-radius: 10px;
    overflow: scroll;
    box-sizing: border-box;

}

.productCard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 150px;

    div:first-child {
        p:first-child {
            font-size: 1.3rem;
            white-space: nowrap; /* Prevents text from wrapping */
            overflow: hidden;
            text-overflow: ellipsis; /* Adds ellipsis (...) if text overflows */
        }

        span {
            margin-top: 8px;
            font-size: 0.9rem;
        }

        .lastChild {
            p {
                font-size: 1rem;
            }
        }
        @media (max-width: 700px) {
            p:first-child {
                font-size: 1rem;
            }
            span {
                margin-top: 3px;
                font-size: 0.8rem;
            }
            .lastChild {
                p {
                    font-size: 0.8rem;
                }
        }
            
        }
        
    }

    div:last-child {

        button {
            border-width: 2px;
            border-style: solid;
            border-image: linear-gradient(to right, green, rgb(87, 160, 255)) 1;
        }

        svg {
            width: 100;
        }

        @media (max-width: 700px) {
            button {
                padding: 5px;
            }
        }
    }

    @media (max-width: 700px) {
        svg {
            width: 20px;
        }
    }

    @media (max-width: 700px) {
        height: 125px;
    }
}

.containerTop {
    box-sizing: border-box;
    // border: 1px solid;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-evenly ;

    @media (max-width: 700px) {
        padding: 0;
        justify-content: space-between;
        min-width: 360px;
    }

    @media (max-width: 350px) {
        width: 100%;
        height: 150px;
        padding: 0;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
    }
}



//! All Category Btn 

.allDropdownyBtn {
        
    button {
        border: none;
        span {
            font-size: 1rem;
        }
    }

    @media (max-width: 700px) {
        
        button {
            span {
                font-size: 0.8rem;
            }
        }
    }

}