
:root {
    --chartShadow: #d3d0d0; /*! Change This Color */
}



.containerProduct {
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
    max-height: 600px;
    overflow: auto;
    margin: 20px 0px;
    min-width: 380px;
    overflow: auto;
}

.colProduct {
    box-shadow: 1px 1px 5px var(--chartShadow);
    height: 500px;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    overflow: scroll;
    box-sizing: border-box;

}

.productCard {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin: 10px 0;
    text-align: left;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    div:first-child {
        p:first-child {
            font-size: 1.5rem;
        }
        .lastChild {
            p {
                font-size: 1rem;
            }
        }
        @media (max-width: 700px) {
            p:first-child {
                font-size: 1.3rem;
            }
            .lastChild {
                p {
                    font-size: 0.9rem;
                }
        }
            
        }
        
    }

    @media (max-width: 700px) {
        height: 140px;
    }
}

.containerTop {
    box-sizing: border-box;
    border: 1px solid;
    display: flex;
    width: 100%;
    height: 150px;
    align-items: center;
    justify-content: space-evenly ;

    @media (max-width: 700px) {
        padding: 0;
        justify-content: space-between;
        min-width: 360px;
    }
}